<cmp-f-row layout="1-1">
    <cmp-f-column>
        <cmp-f-date label="Date Input"></cmp-f-date>
    </cmp-f-column>
    <cmp-f-column>
        <cmp-f-email label="Email Input"></cmp-f-email>
    </cmp-f-column>
</cmp-f-row>
<cmp-f-row layout="1-1-1">
    <cmp-f-column>
        <cmp-f-input label="Text Input"></cmp-f-input>
    </cmp-f-column>
    <cmp-f-column>
        <cmp-f-input label="DEMO"></cmp-f-input>
    </cmp-f-column>
    <cmp-f-column>
        <cmp-f-input label="DEMO"></cmp-f-input>
    </cmp-f-column>
</cmp-f-row>
<cmp-f-row>
    <cmp-f-column>
        <cmp-f-input label="DEMO"></cmp-f-input>
    </cmp-f-column>
</cmp-f-row>
<cmp-f-row layout="1-1-1">
    <cmp-f-column></cmp-f-column>
    <cmp-f-column></cmp-f-column>
    <cmp-f-column>
        <cmp-f-button id="demo-button" label="Button Label #1" theme="primary"></cmp-f-button>
        <cmp-f-button id="demo-button" label="Button Label #2" theme="secondary"></cmp-f-button>
    </cmp-f-column>
</cmp-f-row>
