<form [formGroup]="fg" (submit)="submit($event)">
    <cmp-f-row [layout]="'1-1'">
        <cmp-f-column>
            <cmp-f-date [fc]="fc" [label]="'Date Input'" [name]="'date'"></cmp-f-date>
        </cmp-f-column>
        <cmp-f-column>
            <cmp-f-input [label]="'Text Input'" [name]="'text'"></cmp-f-input>
        </cmp-f-column>
    </cmp-f-row>
    <cmp-f-row [layout]="'1-1-1'">
        <cmp-f-column>
            <cmp-f-email
                [label]="'Email'"
                [name]="'email'"
                [validation]="validation"
                [explanation]="explanation"
            ></cmp-f-email>
        </cmp-f-column>
        <cmp-f-column>
            <cmp-f-password [label]="'Password'" [name]="'password'"></cmp-f-password>
        </cmp-f-column>
        <cmp-f-column>
            <cmp-f-select [label]="'Select'" [name]="'select'" [options]="options"></cmp-f-select>
        </cmp-f-column>
    </cmp-f-row>
    <cmp-f-row>
        <cmp-f-column>
            <cmp-f-text-area [label]="'Textarea'" [name]="'textarea'"></cmp-f-text-area>
        </cmp-f-column>
    </cmp-f-row>
    <cmp-f-row [layout]="'1-1'">
        <cmp-f-column>
            <cmp-f-button
                [id]="'button-1'"
                [label]="'Button Label #1'"
                [theme]="'primary'"
            ></cmp-f-button>
            <cmp-f-button
                [id]="'button-2'"
                [label]="'Button Label #2'"
                [theme]="'secondary'"
            ></cmp-f-button>
        </cmp-f-column>
        <cmp-f-column [flex]="true" [align]="'right'">
            <cmp-f-button
                [id]="'button-3'"
                [label]="'Button Label #3'"
                [theme]="'primary'"
                [icon]="icons.faPaperPlane"
            ></cmp-f-button>
            <cmp-f-button
                [id]="'button-4'"
                [label]="'Button Label #4'"
                [theme]="'secondary'"
            ></cmp-f-button>
        </cmp-f-column>
    </cmp-f-row>
    <cmp-f-row>
        <cmp-f-column>
            <cmp-f-checkbox [label]="'Checkbox Label'" [name]="'checkbox'"></cmp-f-checkbox>
        </cmp-f-column>
    </cmp-f-row>
</form>
